name: Hyma Backend CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/apps/hyma-backend
            git pull
            docker stop hyma-backend || true
            docker rm hyma-backend || true
            docker build -t hyma-backend .
            docker run -d --env-file .env -p 5001:5001 --name hyma-backend hyma-backend
